.cards {
    padding: 24px 0;
    display: flex;
    align-items: stretch;
    gap: 48px;
}

.card {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: self-start;
    gap: 44px;
    border-radius: 24px;
    background: var(--day-base-base-01, #FFF);
    flex: 1 1 0px;
}

.card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.card__text-title {
    color: var(--day-text-text-01, rgba(0, 0, 0, 0.80));
    font-feature-settings: 'liga' off;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
}

.card__text-normal {
    color: var(--day-text-text-01, rgba(0, 0, 0, 0.80));
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}